@import "@/styles/config/mixins";

.loader-bar {
	width: 100vw;
	margin: 0 auto;
	height: 4px;
	background-color: var(--back-shadow);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;

	@include responsive(phone) {
		height: 2px;
	}

	&-line {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-flex;
		width: 50%;
		height: 100%;
		background-color: var(--accent-color);
		animation: move 1s linear infinite;

		@include _theme(dark) {
			background-color: var(--accent-color);
		}
	}
}

.loader-spinner {
	--size: 40px;
	width: var(--size);
	height: var(--size);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 8px;
	margin: calc((var(--size) + 10px) * 2) 0;

	&-ball {
		width: 20px;
		height: 20px;
		flex: 0 0 auto;
		border-radius: 50%;
		animation: bounce 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
			alternate;
	}

	&-ball:nth-child(1) {
		background-color: var(--material-green);
		animation-delay: 0.1s;
	}

	&-ball:nth-child(2) {
		background-color: var(--material-red);
		animation-delay: 0.2s;
	}

	&-ball:nth-child(3) {
		background-color: var(--material-blue);
		animation-delay: 0.3s;
	}

	&-ball:nth-child(4) {
		background-color: var(--material-yellow);
		animation-delay: 0.4s;
	}

	@keyframes bounce {
		from {
			transform: translateY(0);
		}

		to {
			transform: translateY(-100px);
		}
	}
}

.loader-circle {
	--size: 100px;
	--width: 6px;
	--color: 142, 180, 134;
	--color-1: rgba(var(--color));
	--color-2: rgba(var(--color), 0.8);
	--color-3: rgba(var(--color), 0.6);
	--color-4: rgba(var(--color), 0.4);

	width: var(--size);
	height: var(--size);
	border-radius: 500px;
	position: relative;

	&-bar {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: var(--width) solid transparent;
		animation: spin 1s linear infinite;

		&:nth-child(1) {
			border-right-color: var(--color-1);
			animation-duration: 0.45s;
		}

		&:nth-child(2) {
			border-top-color: var(--color-2);
			animation-duration: 0.6s;
		}

		&:nth-child(3) {
			border-bottom-color: var(--color-3);
			animation-duration: 0.85s;
		}

		&:nth-child(4) {
			border-left-color: var(--color-4);
			animation-duration: 1s;
		}
	}

	@keyframes spin {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		50% {
			transform: translate(-50%, -50%) rotate(180deg);
		}

		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
}

@keyframes move {
	0% {
		width: 0;
		left: 0;
		transform: translatex(-100%);
	}

	50% {
		width: 50%;
		left: 50%;
		transform: translatex(-50%);
	}

	100% {
		width: 0;
		left: 100%;
		transform: translatex(-100%);
	}
}
