@import "@/styles/config/typography";

.typography {
	@each $family in $font-families {
		@each $size in $font-sizes {
			@each $weight in $font-weights {
				@each $format in $font-formats {
					&--#{$family}-#{$size}-#{$weight}-#{$format} {
						@include typography(
							$name: $family,
							$size: $size,
							$weight: $weight,
							$format: $format
						);
					}
				}
			}
		}
	}
}
