@import "@/styles/config/mixins";
@import "@/styles/config/shadows";

.home-services {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	padding: 8px;

	&-masonry {
		width: 100%;

		& > * {
			padding: 4px;
		}
	}

	&-service {
		width: 100%;
		padding: 12px 16px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 24px;
		overflow: hidden;
		border: 0.5px solid var(--back-shadow);
		border-radius: var(--border-radius);

		& > *:last-child {
			font-size: 1rem;
		}

		&:hover {
			@include shadow(2);
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--theme-light-grey);
		}

		&__text {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&__icon {
			flex: 0 0 auto;
		}
	}
}
